@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*esse css tá horrível*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #121212;
    padding: 20px;
    width: 100%;
    height: 70vh;
    color: #FFFFFF;
}
header{
    width: 100%;
    height: 60px;
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    border-radius: 12px;
}
main{
    width: 100%;
    height: 100%;
}
main .main-container{
    margin-top: 20px;
    min-width: 600px;
    height: 90%;
    display: flex;
}
main .main-container aside{
    width: 50%;
    height: 100%;
}
main .main-container aside textarea{
    width: 100%;
    height: 100%;
    background-color: #161616;
    border: 1px solid #242424;
    border-radius: 16px;
    box-shadow: black 0px 0px 5px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    resize: none;
    pointer-events: none;
    text-align: start;
}
main .main-container .action-container{
    width: 100%;
    margin-left: 20px;   
}
main .main-container .action-container .container{
    background-color: #161616;
    border: 1px solid #242424;
    border-radius: 16px;
    box-shadow: black 0px 0px 5px;
    width: 100%;
    height: 100%;
}
main .main-container .action-container .order{
    background-color: #181818;
    border: 1px solid #242424;
    box-shadow: black 0px 0px 4px;
    border-radius: 16px;
    margin: 10px;
    padding: 5px;
    height: 30%;
    color: greenyellow;
}
main .main-container .action-container .action-buttons,
main .main-container .action-container .action-input{
    margin: 20px;
}
button{
    background-color: #1F1F1F;
    color: #FFFFFF;
    border: 1px solid #242424;
    border-radius: 16px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
button#stop:hover{
    transition: background-color 0.3s;
    background-color: #440101;
}
button#ok:hover{
    transition: background-color 0.3s;
    background-color: #014407;
}
button#send{
    transition: background-color 0.3s;
    box-shadow: black 0px 0px 4px;
}
button#send:hover{
    transition: background-color 0.3s;
    background-color: #014407;
}
.action-input{
    width: 100%;
}
.action-input input{
    width: 70%;
    height: 40px;
    background-color: #161616;
    border: 1px solid #242424;
    border-radius: 16px;
    box-shadow: black 0px 0px 5px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
}